# macOS
.DS_Store

# Xcode
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Checkouts
Carthage/Build

# Swift Package Manager
.build/
DerivedData/

# Firebase configuration file
GoogleService-Info.plist

# API keys
api-keys.plist